@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #474747 transparent;
}
*:focus {
    outline: 4px solid #ecf6ff !important;
}
*::-webkit-scrollbar {
    width: 0.5rem;
}
*::-webkit-scrollbar-track {
    background: #3e82fc;
    border-radius: 0.625rem;
}
*::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 0.625rem;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-transition: background-color 600000s 0s, color 600000s 0s;
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    min-height: 100vh;
    background: #3e82fc;
}

@font-face {
    font-family: "Simpson";
    src: url("../fonts/Simpsonfont.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Montserrat-Thin.ttf") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

/**
 * Basic typography style for copy text
 */
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.link__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 32px;
    font-size: 0.625rem;
    font-weight: 700;
    color: #616161;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.link__button:hover {
    color: #616161;
}

.btn-reset {
    width: 100%;
    height: 100%;
    background: #fbfb1c;
    color: #3e82fc;
    border: 1px solid #000000;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}
.btn-reset:hover {
    color: #3e82fc;
}

button[class^="modal__btn"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #3e82fc;
    border-radius: 15px;
}

.modal__btn--yes {
    background: #fbfb1c;
    border: 1px solid #000000;
}

/*_modal-delete-simpson.scss */
/* Modal para eliminar personaje de la lista. */
.modal__body {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1000;
}
.modal__body .modal__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 180px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 25px;
}
.modal__body .modal__text {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #3e82fc;
}
.modal__body .modal__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 175px;
    width: 100%;
}

@media (min-width: 560px) {
    .modal__body .modal__card {
        width: 65%;
        height: 180px;
    }
    .modal__body .modal__text {
        font-size: 1.25rem;
    }
    .modal__body .modal__buttons {
        max-width: 260px;
    }
}

@media (min-width: 890px) {
    .modal__body .modal__card {
        width: 40%;
        height: 180px;
    }
    .modal__body .modal__text {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .modal__body .modal__card {
        width: 450px;
    }
}

/* _loader-simpson.scss */
/* Loader para el desafío-simpsons */
.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.loader-none {
    display: none;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif {
    margin: 0 0 10px 0;
    width: 17vh;
    border-radius: 50%;
}

.loading {
    font-family: "Simpson";
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #fbfb1c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.loading::after {
    display: inline-block;
    -webkit-animation: dotty steps(1, end) 1.2s infinite;
    animation: dotty steps(1, end) 1.2s infinite;
    content: "";
}

@-webkit-keyframes dotty {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

@keyframes dotty {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}

@media (min-width: 560px) {
    .gif {
        width: 30vh;
        margin: 0 0 10px 0;
    }
    .loading {
        font-size: 1.7rem;
    }
}

@media (min-width: 768px) {
    .gif {
        width: 25vh;
        margin: 0 0 20px 0;
    }
    .loading {
        font-size: 2.5rem;
    }
}

/* -simpson-header.scss */
/* Header del desafío simpsons */
.simpson__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1228px;
    height: 80px;
    background: #3e82fc;
}
.simpson__header .simpson__header__logo {
    width: 140px;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (min-width: 560px) {
    .simpson__header {
        height: 90px;
    }
    .simpson__header .simpson__header__logo {
        width: 25%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

@media (min-width: 768px) {
    .simpson__header {
        height: 100px;
    }
    .simpson__header .simpson__header__logo {
        width: 180px;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

/* _simpson.scss */
/* Contenido de la página */
.main_simpson {
    width: 100%;
    max-width: 1228px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 90px;
    grid-gap: 10px;
    padding: 10px;
    background: #3e82fc;
    color: #3e82fc;
}
.main_simpson .simpson__list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 25px;
}
.main_simpson .simpson__list__item .article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 245px;
}
.main_simpson .simpson__list__item .article .img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 35px;
    background: #616161;
    border-radius: 50%;
}
.main_simpson .simpson__list__item .article .div {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_simpson .simpson__list__item .name {
    margin: 0 auto 0 0;
    font-size: 2rem;
    font-weight: 600;
    color: #3e82fc;
    text-transform: capitalize;
}

@media (min-width: 560px) {
    .main_simpson {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 140px;
        grid-gap: 15px;
    }
    .name {
        font-size: 1rem;
        font-weight: 600;
    }
}

@media (min-width: 890px) {
    .main_simpson {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 200px;
        grid-gap: 15px;
    }
    .name {
        font-size: 6rem;
        font-weight: 600;
    }
}
